# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

bin/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Node
node_modules/
package-lock.json

# phoenix ez file
*.ez

# VS Code related files
*.code-workspace
.vscode

# MAC OS created file
.DS_Store

# Environment file (usually secrets)
*.env

# ANY csv file 
*.csv

# svelte
/__sapper__/
/src/node_modules/@sapper/

# parcel
/.cache/
/.parcel-cache/
dist/
lib/
parcel-bundle-reports/
# v8 files
*.v8

# misc
*.min.js
tmp

# Logs
logs/
*.log